<div id="page-wrapper" style="    padding: 54px 57px;
position: relative;
">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-sm-12 col-md-12 well" id="content">
                <h1>performance of the members</h1>
            </div>

            <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            <br><br>

            <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            <br><br>
            <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>


    </div>

    <!-- /.container-fluid -->
</div>