

<div id="throbber" style="display:none; min-height:120px;    "></div>
<div id="noty-holder" style=" overflow-x: hidden;"></div>
<div id="wrapper">
    <nav class="navbar  navbar-fixed-top" role="navigation" style="background-color: #e0ecec;
    margin-left: -233px;
    margin-top: -8px;
    height: 76px;position: fixed;    width: 100%;z-index: 1;">
      
        <a class="navbar-brand" >
            <img src="assets/img/ss.png" alt="LOGO"  style="width: 198px;
            height: 119px;
            margin-top: -24px;
            margin-left: 28px;">
        </a>
      
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" style="    background-color: #e0ecec;">
                <div class="hw">
                        <li>
                                <a [routerLink]="['/']" ><i class="fa fa-fw fa-star"></i> Graph </a>
                             
                            </li>
                          
                <li>
                    <a [routerLink]="['/heatgraph']"><i class="fa fa-fw fa-paper-plane-o"></i> Heat Graph </a>
                   
                </li>
                
              
                </div>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>


